.card__delete-button {
  margin: 0;
  padding: 0;
  min-width: 24px;
  height: 24px;
  background: url("../../../images/__delete-button.svg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

.card__delete-button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__delete-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .card__delete-button {
    min-width: 18px;
    height: 18px;
  }
}