.card__like-button {
  margin: 0 0 3px 0;
  padding: 0;
  background: url('../../../images/__like-button-inactive.svg') no-repeat center;
  border: none;
  display: inline-block;
  min-width: 22px;
  height: 19px;
  cursor: pointer;
  opacity: 1;
}

.card__like-button:hover {
  opacity: .5;
}