.profile__edit-button {
  margin: 15px 0 34px 18px;
  padding: 0;
  min-width: 24px;
  height: 24px;
  background: url("../../../images/__edit-button.svg") no-repeat center;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 8px 0 28px 19px;
    min-width: 18px;
    height: 18px;
  }
}